@charset "UTF-8";

/* サイトのヘッダー全体ブロック */

#n_school_header {
	width: 100%;
	height: 300px;
	background: orange;
}

/* ヘッダートップの背景色 */
#n_header_backcolor {
	background:	#f7f7f7;;
}


/* ヘッダートップのナビメニュー */

#n_header_top {
	width: 100%;
	max-width: 1060px;
	font-size: 12px;
	height: 30px;
	margin: 0 auto;
	padding: 0 10px;
	vertical-align: baseline;
}

/* ヘッダートップナビメニュー左のメッセージ */

.header_message {
	font-weight:700;
	display: table;
	float: left;
}

/* ヘッダートップナビメニューのリンク一覧 */

.header_navi_top {
	display: table;
	float: right;
}

.header_navi_top a {
	color:#676767;
	text-decoration: none;
}

.header_navi_top a:hover {
	text-decoration: underline;
}

.header_navi_top li{
	display: table-cell;
	text-align: center;
}

.header_navi_top li:after {
	content: '|';
	padding: 0px 15px 0px 15px;
	color: #676767;
}

.header_navi_top li:nth-of-type(n+6):after {
	content: "";
}

.header_navi_top :last-child a {
	color: #000066;
}

.header_navi_top li:nth-of-type(7) {
	background: rgb(217, 217, 217);
}

/* 生徒用ログインのアイコン */
.header_navi_top li:nth-of-type(7):before {
	content: "";
	display: inline-block;
	padding-right: 5px;
	width: 16px;
	height: 20px;
	background-image: url("./image/header_navi_icon.png");
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: middle;
}


/* ヘッダー中央 */
#n_header_middle {
	background:white;
	max-width: 1060px;
	height: 90px;
	margin: 0 auto;
	vertical-align: baseline;
}


.n_school_logo {
	width: 215px;
	float: left;
}

.header_middle_right {
	float: right;
}

.sns_button {
	display: table;
}

.sns_button li {
	text-decoration: none;
	display: table-cell;
}

.nschool_tel {
	padding-right: 10px;
}

.f_button,.t_button {
	padding-right: 10px;
}

.f_button:hover,.t_button:hover,.y_button:hover {
	opacity: 0.7;
}

/* ヘッダー下のコース紹介ナビ */
#n_header_bottom {
	background:white;
	max-width: 1060px;
	height: 70px;
	margin: 0 auto;
}


.course_info {
	display: inline-block;
	text-align: center;
	list-style-type: none;
}

.info_top_first {
	color: #1f286f;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.2em;
}

.info_top {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.2em;
}

.course_info li:first-child {
	/*border-left:solid 1px #dcdddd*/
	padding-left: 10px;
	border-left:solid 1px blue;
}



