@charset "UTF-8";

/* clearfix */
.clearfix:after {
    content : "";
    display : block;
    clear : both;
}

/* サイトのヘッダー全体ブロック */

#n_school_header {
	width: 100%;
	height: 250px;
}

/* ヘッダートップの背景色 */
#n_header_backcolor {
	background:	#f7f7f7;;
}


/* ヘッダートップのナビメニュー */

#n_header_top {
	width: 100%;
	max-width: 1060px;
	font-size: 12px;
	height: 30px;
	margin: 0 auto;
	padding: 0 10px;
	vertical-align: baseline;
}

/* ヘッダートップナビメニュー左のメッセージ */

.header_message {
	font-weight:700;
	display: table;
	float: left;
}

/* ヘッダートップナビメニューのリンク一覧 */

.header_navi_top {
	display: table;
	float: right;
	position: relative;
	top: -12px;
}

.header_navi_top:after {
	content: "";
	clear: both;
	display: block;
}

.header_navi_top a {
	color:#676767;
	text-decoration: none;
}

.header_navi_top a:hover {
	text-decoration: underline;
}

.header_navi_top li{
	display: table-cell;
	text-align: center;
}

/* リスト間を|で調整 */
.header_navi_top li:after {
	content: '|';
	padding: 0px 15px 0px 15px;
	color: #676767;
}

/* 後ろのリストで|を打ち消し */
.header_navi_top li:nth-of-type(n+6):after {
	content: "";
}

/* 生徒用ログインのリスト調整 */
.header_navi_top :last-child a {
	color: #000066;
	background: rgb(217, 217, 217);
	padding: 8px 8px 8px 0;
}

/* 生徒用ログインのアイコン */
.login_icon :before {
	content: url("./image/header_navi_icon.png");
	display: inline-block;
	transform: scale(0.5);
	vertical-align: middle;
	background: rgb(217, 217, 217);
	padding: 0 0 0 0;
}


/*
.header_navi_top li:nth-of-type(7) a {
	background: rgb(217, 217, 217);
	padding: 0 -10px -10px 0;
}
*/


/* 生徒用ログインのアイコン */
/*
.header_navi_top li:nth-of-type(7):before {
	content: url("./image/header_navi_icon.png");
	display: inline-block;
	transform: scale(0.5);
	vertical-align: middle;
	background: rgb(217, 217, 217);
}
*/






/*
.header_navi_top li:nth-of-type(7):before {
	content: "";
	display: inline-block;
	padding-right: 5px;
	width: 16px;
	height: 20px;
	background-image: url("./image/header_navi_icon.png");
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: middle;
}

.header_navi_top li:nth-of-type(7) a:before

*/


/* ヘッダー中央 */
#n_header_middle {
	background:white;
	max-width: 1060px;
	height: 90px;
	margin: 0 auto;
	vertical-align: baseline;
}


.n_school_logo {
	width: 215px;
	float: left;
}

.header_middle_right {
	float: right;
	position: relative;
	top: -20px;
	right: 30px;
}

.sns_button {
	display: table;
}

.sns_button li {
	text-decoration: none;
	display: table-cell;
}

.nschool_tel {
	padding-right: 10px;
}

.f_button,.t_button {
	padding-right: 10px;
}

.f_button:hover,.t_button:hover,.y_button:hover {
	opacity: 0.7;
}

/* ヘッダー下のコース紹介ナビ */
#n_header_bottom {
	background:white;
	max-width: 1060px;
	height: 70px;
	margin: 0 auto;
}

.header_bottom_nav {
	float: left;
}

/* リンクのul CSS設定 */
.course_info_nschool, .course_info_netcourse, .course_info_commutecourse {
	display: inline-block;
	text-align: center;
	list-style-type: none;
	padding: 0 24px;
	border-left :solid 1px #dcdddd;
}

/* リンク最後尾のボーダー設定 */
.course_info_allinceschool {
	display: inline-block;
	text-align: center;
	list-style-type: none;
	padding: 0 24px;
	border-left :solid 1px #dcdddd;
	border-right :solid 1px #dcdddd
}

/* ヘッダーナビリンクの書体設定 */
.info_top_first {
	color: #1f286f;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.2em;
	padding-bottom: 3px;
}

.info_top {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.2em;
	padding-bottom: 3px;
}

/* About Schoolの画像アイコン */
.info_nschool {
	background-image: url("./image/About_school.png");
	background-repeat: no-repeat;
	background-position: center;
	width:auto;
	height:10px;
}

/* リンクの下にある三角形マーク */
.info_nschool:after {
	content:'';
	height: 0;
	position:absolute;
	width: 0;
	border: 7px solid transparent;
	border-bottom-color: #181836;
	left: 10.5%;
	top: 176px;
}


/* Net Courseの画像アイコン */
.info_netcourse {
	background: url("./image/Net_Course.png") no-repeat;
	background-position: center;
	width:auto;
	height:10px;
}

.info_netcourse:hover{
	background-image: url("./image/Net_Course_hover.png");
	}

/* Commute Courseの画像アイコン */
.info_commutecourse {
	background: url("./image/Commute_Course.png") no-repeat;
	background-position: center;
	width:100px;
	height:10px;
}

.info_commutecourse:hover{
	background-image: url("./image/Commute_Course_hover.png");
}


/* Alliance Schoolの画像アイコン */
.allince_school {
	background-image: url("./image/Allince_School.png");
	background-repeat: no-repeat;
	background-position: center;
	width:auto;
	height:10px;
}

.allince_school:hover {
	background-image: url("./image/Alliance_School_hover.png");
}

/* ヘッダー右の説明会・資料請求リンク */
#introduce_link {
	padding: 5px 0px;
	float: right;
	vertical-align: baseline;
	height: 15px;
}

.introduce_box {
	position: relative;
	top: -53px;
	right: 40px;
}

.introduce_box li {
	width: 150px;
	height: auto;
	padding: 10px 5px;
    font-weight: bold;
	border: solid 1px #1f286f;
	text-align: center;
	display: inline-block;
	font-size: 15px;
	color: #1f286f;
}

.introduce_box li:hover{
	background-color: #1f286f;
	color:white;
	transition: 0.5s;
}

.introduce_box li a{
	text-decoration: none;
	color: #1f286f;
	}

.introduce_box li a:hover{
	text-decoration: none;
	color: white;
	transition: 0.5s;
	}


.introduce_box li a:after{
	position: relative;
	left: 15px;
	content: '>';
	color: #1f286f;
}

.introduce_box li a:hover:after{
	content: '>';
	color:white;
	transition: 0.5s;
}	

/* ヘッダー下のリストテキストリンク */
#header_list_link {
	width: 100%;
	height: 70px;
	background: #181836;
	padding: 5px 0 10px;
}

.text_links {
	font-size: 14px;
	text-align: center;
	list-style-type: none;
	max-width:1060px;
	margin: 0 auto;
	letter-spacing: 0.1em;
}

.text_links li {
	color: white;
	padding-top: 15px;
	display: inline-block;
}

.text_links li a{
	text-decoration: none;
	color: white;
	padding: 5px;
}

.text_links li a:hover{
	color: #181836;
	background-color:white;
	transition: 0.5s
}

.text_links li:nth-child(n+2):before{
	content: '╲';
	margin: 0 7px 0 2px;
}

/* N高のメインコンテンツブロック */
#nschool_maincolumn {
	width: 100%;
}

/* N高のイメージ背景画像 */
.about_school {
	width: 100%;
	height: 530px;
	background: url("./image/nschool_image.png") no-repeat;
}

/*N高のタイトル字*/
h1#n_highschool {
	text-align: center;
	position: relative;
	top:70px;
}

.nschool_title {
	color: white;
	font-size: 55px;
	font-weight: 300;
	letter-spacing: 0.2em;
	font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

/*H1下の白線描画*/
.nschool_title:before {
	content: '';
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: -10px;
	margin: auto;
	display: inline-block;
	width: 200px;
	height: 1px;
	background-color: white;
	border-radius: 2px;
}

/*白線下のAbout School*/
.h1_aboutschool {
	text-align: center;
	color: white;
	font-size: 16px;
	letter-spacing: 0.2em;
	position: relative;
	top:85px;
	font-family: 'PT Sans Narrow',sans-serif;
}

/*パンくずリスト*/
.n_breadcrumbs {
	font-size: 14px;
	padding: 10px 0 20px 45px;
	border-bottom: solid 1px #e1e1e1;
}

.n_breadcrumbs li{
	display: inline-block;
	text-decoration: none;
}

.n_breadcrumbs li:first-child:after{
	content: '>';
	padding: 0 3px 0 8px;
}

.n_breadcrumbs li a{
	color:#36538d;
	text-decoration: none;
}

.n_breadcrumbs li a:hover{
	text-decoration: underline;
}

/*メインコラムのブロック*/
#nschool_mission {
	width: 100%;
	height: 1000px;
}

/*メインコラム H2のブロック*/
h2#IT_Global {
	text-align: center;
	position: relative;
	top:80px;
}

h2#subjective_action {
	text-align: center;
	padding-top: 130px;
}

h2#subjective_action:before {
	content: '';
	position: absolute;
	left: 0px;
	right: 0px;
	top: 1290px;
	margin: auto;
	display: inline-block;
	width: 200px;
	height: 1px;
	background-color: black;
	border-radius: 2px;
}

/*メインコラム トップのH2メッセージ*/
.creativity {
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 0.2em;
	font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
	line-height: 1.8;
}

/*メインコラム 2番目のメッセージ*/
.my_thinking {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.1em;
	font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
	line-height: 1.8;
}


